[submodule "vendors/calendar"]
	path = vendors/calendar
	url = git@github.com:fusioncharts/fc-calendar.git
[submodule "vendors/smartlabel"]
	path = vendors/smartlabel
	url = git@github.com:fusioncharts/fusioncharts-smartlabel.git
[submodule "vendors/html"]
	path = vendors/html
	url = git@github.com:siawo/learn.git
[submodule "packages/html/vendors/redraphael"]
	path = packages/html/vendors/redraphael
	url = git@github.com:fusioncharts/redraphael.git
